{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% bootstrap_css %}

{% block title %}Просмотр {{ cottage.name }}{% endblock %}
{% block content%}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ cottage.name }}</h5>
        <p class="card-text">{{ cottage.description }}</p>
        <p class="card-text">В этои домике поместятся: {{ cottage.capacity }} чел.</p>
        <p class="card-text">Цена: {{ cottage.price }} руб./сут.</p>
        {% if cottage.image %}
            <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ cottage.image.url }}">
        {% endif %}

    </div>
</div>
<br>
{% if user.is_authenticated %}
    <form method="POST" action={% url 'booking:create_comment' cottage.id %}>
        {% csrf_token %}

        {% bootstrap_form form %}

        {% bootstrap_button button_type="submit" content="Отправить" %}
    </form>
{% else %}
Чтобы написать комменатрий зайдите в аккаунт
{% endif %}
<br>
{% if comments %}
    {% for comment in comments%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ comment.client }}</h5>
            <p class="card-text">Оценка: {{ comment.rating }}</p>
            <p class="card-text">{{ comment.text }}</p>
            {% if comment.client == user %}
                <a href={% url 'booking:edit_comment' comment.cottage.pk comment.pk %}>Редактировать</a>
                <a href={% url 'booking:delete_comment' comment.cottage.pk comment.pk %}>Удалить</a>
            {% endif %}
        </div>
    </div>
    <br>
    {% endfor %}
{% else %}
Вы можете первым оставить отзыв
{% endif %}
{% endblock %}